* {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  background-color: #121212;
}

.navbar {
  width: 85%;
  margin: auto;
  padding: 2em 0;
  justify-content: space-between;
  text-align: center;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin-left: 3em;
  position: relative;
  left: 33em;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  text-transform: lowercase;
  font-size: 1.1em;
}

.navbar ul li::after {
  content: "";
  height: 0.1em;
  width: 0%;
  background: white;
  position: absolute;
  left: 0;
  bottom: -0.5em;
  transition: 0.6s;
}

.navbar ul li:hover::after {
  width: 100%;
}

.image {
  top: 40%;
  text-align: center;
  left: 5em;
}

.content {
  color: white;
  text-transform: lowercase;
  width: 100%;
  text-align: center;
}

.content h2 {
  position: relative;
  font-size: 26px;
  color: rgb(243, 243, 160);
}

.content h1 {
  position: relative;
  font-size: 5.5em;
  color: rgb(97, 160, 243);
}

.content h3 {
  position: relative;
  font-size: 1.1em;
  color: rgb(90, 166, 90);
}

.projecttitle {
  position: relative;
  width: 85%;
  margin: auto;
  justify-content: space-between;
  text-align: center;
  display: inline-block;
  left: 5em;
  color: rgb(241, 53, 53);
  text-transform: lowercase;
  font-size: 1.5em;
}

.projects {
  position: relative;
  width: 85%;
  margin: auto;
  justify-content: space-between;
  text-align: center;
  display: inline-block;
}

.projectlinks ul li {
  list-style: none;
  display: inline-block;
  margin-left: 10em;
  position: relative;
  left: 0.4em;
  top: 2em;
}

.projectlinks ul li a {
  text-decoration: none;
  color: darkgray;
  text-transform: lowercase;
  font-size: 1.5em;
}

.projects ul li::after {
  content: "";
  height: 0.1em;
  width: 0%;
  background: white;
  left: 0;
  bottom: -0.5em;
  position: absolute;
  transition: 0.6s;
}

.projects ul li:hover::after {
  width: 100%;
}
